  <div class="back-color">

<div class="about-main">
  <h2>Pictsとは…</h2>
  <p>
    画像投稿・閲覧ができるSNSサービスです。<br>
    描いたイラスト投稿し、好きなイラストにはいいね！しよう！
  </p>
  </div>
  <div class="Mr-pict">
      <img src="/picts Mr,pict.png">
  </div>
</div>
