
<div class="main posts-index">
  <div class="container">
    <%# @posts.each do |post| %>

    <div class="posts-index-item">
      <img src ="/top2.jpeg">
    </div>
    <div class="posts-index-item">
     <img src ="/sample.jpg">
    </div>
  </div>
</div>
